# Format
isort
black
flake8
mypy
pip-tools
pre-commit
# ML
torch>=1.13.0
torchvision
torchaudio
pandas
kaggle
h5py
pytorch-lightning
torchmetrics
efficientnet-pytorch
wandb
pyfstat
transformers
sklearn
ray
timm
